RAG Chatbot/update_knowledge_base.json
{
  "name": "Update Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12SCnRgcSy-aAtewYWWk5Z-2D7DmQAFmD",
          "mode": "list",
          "cachedResultName": "knowledge base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12SCnRgcSy-aAtewYWWk5Z-2D7DmQAFmD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        0
      ],
      "id": "02ac9d42-57ac-4674-8f33-1c967e516055",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZA219CTZWhfXAlgq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        0
      ],
      "id": "81dde5f4-3c0f-445e-8b3f-37b5f756c0a0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZA219CTZWhfXAlgq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-2",
          "mode": "list",
          "cachedResultName": "n8n-2"
        },
        "options": {
          "pineconeNamespace": "kb"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        176,
        -48
      ],
      "id": "7e4733aa-623c-4593-a2b7-829068c321f0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4EAbVAm4Ewxhfjz8",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        416,
        192
      ],
      "id": "fb1a133b-5164-4df4-a06c-cf68c7bed62f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "64b2207a-97a8-4e94-8804-fa7a5ef0234e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Cz3BISG7hGqgkqk0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77ca8aef-0a5c-4fcd-87c4-b832c2bd9a3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d17a32a5573f8a873db5565e71ff4e557990cba8840eaed991a6c563ef3fed6c"
  },
  "id": "Pju02hqMjbbDbYuW",
  "tags": []
}